body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px 0;
    font-weight: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}

    .nav-bar ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .nav-bar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 12px;
}   

    .nav-bar a:hover {
    color: #562b00;
    text-decoration: underline;
    text-decoration-color: #562b00;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;

}

    .logo img {
        width: 110px;
        max-width: 100%;
        height: auto;
    }

.account {
    display: flex;
    gap: 10px;
    align-items: center;
}

.account a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 12px;
}

    .account svg {
    width: 20px;
    height: 20px;
}