
/*
 Definir fonte de letra e estilos básicos para o corpo da página
*/

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    display: flex;
    flex-direction: column; /* header pai de location + navbar */
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 0; /* fixa em cima */
    left: 0;
    width: 100%;
    z-index: 1030;
    opacity: 0.95;
    border-bottom: 1px solid #ddd;
}

.location {
  display: flex;                     
  align-items: center;               /* vertical */
  justify-content: center;           /* horizontalmente */
  gap: 6px;                          /* icon e texto */
  width: 100%;
  border-bottom: 1px solid #dddddd8c;
  padding: 5px 0;
  font-size: 12px;
  color: #666;
}

/* link */
.location a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 12px;
  display: flex;                     
  align-items: center;               
  gap: 4px;                     
}

/* ícone */
.location img {
  width: 16px;
  height: 16px;
  display: block; /* evita desalinhar na própria inline */
}


.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 10px 15px;
    box-sizing: border-box;
}

/* RESPONSIVO */
@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 10px;
  }
}

.logo img {
    width: 50px; /* tamanho do logo, mexe na altura do header tbm */
  height: auto; /*auto em relação width*/
  display: block;
  object-fit: contain;/* evita distorce do logotipo */
  object-position: center;
}
.menu ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}   

.menu a:hover {
    color: #562b00;
    text-decoration: underline;
    text-decoration-color: #562b00;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;

}

main {
  padding-top: 0px; /* aqui compensa a altura do header fixo, se mudar a altura do logo, vai influenciar aqui */
  color: white;
}

/* Secção da imagem (hero) */
.hero {
  margin-bottom: 20px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  display: block;
  object-position: 50% 30%;
}
.hero img:hover {
  transform: none;
}

/*CONTEUDO PRINCIPAL APOS HERO IMAGEM*/

/* Grid do conteudo de main */
.conteudo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "img1 text1"
    "text2 img2"
    "img3 text3"
    "text4 img4";
  gap: 0;
}

/* grid */
.img1 { grid-area: img1; }
.text1 { grid-area: text1; }
.text2 { grid-area: text2; }
.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.text3 { grid-area: text3; }
.img4 { grid-area: img4; }
.text4 { grid-area: text4; }

/* estilo geral dos blocos img e texto */
.bloco {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /*att padding entre blocos*/
  color: #333;
  /*background: #fff;*/
  box-sizing: border-box;
}

/* images */
.bloco img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
img:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}


/* texto */
.bloco h2 {

  font-size: 24px;
  font-weight: 700;
  color: #562b00;
  margin: 0 0 15px 0;
}

.bloco p {
  font-size: 15px;
  
  color: #444;
  margin: 10px 0;
  max-width: 700px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .conteudo {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img1"
      "text1"
      "text2"
      "img2"
      "img3"
      "text3"
      "img4"
      "text4"
  }

  .bloco {
    padding: 30px 20px;
  }

  .bloco img {
    height: 300px;
  }
}

/* texto dos blocos - atributos independentes */
.bloco[class*="text"] {
  display: flex;
  flex-direction: column;
  
  align-items: flex-start;
  padding: 40px 40px;
  /*background-color: #fff;*/
  gap : 5px;

  /*background-color: blueviolet;*/
}






/*Aqui desta maneira estilizamos apenas por exemplo o bloco de text4 em especifico caso queiramos dar atributos diferentes de mais*/
/* titulos */
.bloco[class*="text4"] h2 {
  font-size: 24px;
  font-weight: 700;
  color: #323f2e;
  margin: 0 0 15px 0;
}

/* === PARÁGRAFOS === */
.bloco[class*="text4"] p {
  font-size: 15px;
  
  color: #455141;
  margin: 10px 0;
  max-width: 700px;
}

/* === AJUSTE PARA MOBILE === */
@media (max-width: 768px) {
  .bloco[class*="text"] {
    padding: 30px 25px;
    align-items: center;
    text-align: center;
  }

  .bloco[class*="text"] p {
    max-width: 100%;
  }
}


